/*layout*/

.center {
  text-align: center;
}

.bg {
  background-color: aliceblue;
}

.container {
  margin-top: 30px;
  display: grid;
  grid-template-areas:
    "left header right"
    "left main right"
    "left footer right";
  grid-template-columns: 1fr 10fr 1fr;
}

.header {
  background: beige;
  grid-area: header;
  padding: 20px;
}

.main {
  background: floralwhite;
  grid-area: main;
  padding: 20px;
}

.footer {
  background: beige;
  grid-area: footer;
  padding: 20px;
}
