.container{
height: 90vh;
margin: 2rem;
display: grid;
grid-template-areas: "header header header"
                      "left main right" 
                      "footer footer footer";
grid-template-columns: 1fr 2fr 1fr;
grid-template-rows: 2fr 1fr 1fr;
grid-gap: 10px 10px;
}

.cell{
color: white;
font-size: 2rem;
text-align: center;
padding: 2rem;
}

.cell-1{
background: deepskyblue;
grid-area: header;
}

.cell-2{
background: orangered;
grid-area: left;
}

.cell-3{
background: royalblue;
grid-area: main;
}

.cell-4{
background: gold;
grid-area: right;
}

.cell-5{
background: blueviolet;
grid-area: footer;
}

.cell-6{
background: limegreen;
}

.cell-7{
background: coral;
}

.cell-8{
background: lightseagreen;
}

.cell-9{
background: maroon;
}

